.blog .title {
  font-family: "Alegreya", serif;
  color: #135359;
}

.blog {
  background-color: #ffffff;
  max-width: unset;
  padding: 5% 5%;
}
.blog .process-list {
  margin-top: 40px;
  margin-bottom: 36px;
}
.blog .process-list .process {
  margin-bottom: 25px;
}
.blog .process-list .process > div > h3 {
  color: #135359;
  margin-bottom: 0;
  font-size: 30px;
  font-weight: 500;
}
.blog .process-list .process > div > p {
  color: #135359;
  margin: 0;
}
.blog .process-list .process .process-icon {
  width: 60px;
  height: 60px;
  margin-right: 10px;
  text-align: center;
}
.blog .process-list .process .process-icon img {
  height: 100%;
}
.blog .process-list button {
  height: auto;
  border-radius: 8px;
  padding: 12px;
  width: 180px;
  margin-bottom: 15px;
}
.blog .card img {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.blog .card .card-title {
  font-size: 22px;
  color: #4a4a4a;
}
.blog .card .metadata {
  font-size: 14px;
}
.blog .card .metadata .category {
  color: #67b54b;
}
.blog .card .metadata .read-time {
  color: #979797;
}
.blog .card .card-text {
  color: #4a4a4a;
  font-size: 14px;
}
.blog .card .author p {
  margin-left: 5px;
  margin-top: 10px;
  font-weight: 500;
  font-size: 12px;
  color: #4a4a4a;
}
.blog .card .author img {
  border-radius: 50%;
  width: 35px;
  height: 35px;
}

.try-it {
  background-color: #96d178;
  padding: 5% 5% 2%;
  margin-top: -30px;
  text-align: center;
}
.try-it h2 {
  color: #025157;
  font-family: "Alegreya", serif;
  font-size: 60px;
}
.try-it form input {
  border: 1px solid #b6b6b6;
  padding: 13px 20px;
  width: 60%;
  max-width: 250px;
}
.try-it form input, .try-it form button {
  height: 100%;
  border-radius: 8px;
}
.try-it form button {
  background-color: #025157;
  color: #fff;
  border: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding: 13px 20px;
  margin-left: -10px;
}
.try-it p {
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  margin-top: 15px;
  line-height: 1.5;
}

.cta {
  padding: 5% 10% 0;
  margin: 0;
  max-width: unset;
}
.cta .box {
  background-color: #025157;
  color: #fff;
  padding: 5%;
  border-radius: 10px;
}
.cta .box h2 {
  font-family: "Alegreya", serif;
  font-size: 34px;
  max-width: 340px;
  line-height: 1.3;
}
.cta .box p {
  color: #fff;
  margin-top: 15px;
  line-height: 25px;
  font-weight: 400;
  font-size: 17px;
}
.cta .box a {
  color: #6abf4d;
}
.cta .box form {
  height: 55px;
}
.cta .box form input, .cta .box form button {
  height: 100%;
  border-radius: 8px;
}
.cta .box form input {
  border: 1px solid #b6b6b6;
  padding: 13px 20px;
  width: 60%;
  max-width: 250px;
}
.cta .box form button {
  background-color: #67b54b;
  color: #fff;
  border: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding: 16px 20px;
  margin-left: -7px;
}
.cta .box form + p {
  color: #b3cbcd;
  margin-top: 15px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.6;
  max-width: 340px;
}

/*# sourceMappingURL=output.css.map */
